<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="urf-8">
	<title>Teste</title>
    <style>
        input{
            box-shadow: 2px 2px 5px #000;
            
        }
    </style>
</head>
<body>
    <form action="/contato" method="post">
        <input type="text" name="name">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>